<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	    <property name="connection.driver_class">org.postgresql.Driver</property>
	    <property name="connection.url">jdbc:postgresql://localhost:5432/erp</property>
	    <property name="connection.username">postgres</property>
	    <property name="connection.password">dbr1987diogo</property>
	    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
	    <property name="current_session_context_class">thread</property>
	    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
	    <property name="show_sql">false</property>
	    <property name="hbm2ddl.auto">validate</property>
		<property name="c3p0.acquire_increment">5</property> 	    
	    <property name="c3p0.min_size">5</property>
	    <property name="c3p0.max_size">50</property>
	    <property name="c3p0.timeout">1800</property>
		<property name="c3p0.idle_test_period">900</property>
	    <property name="c3p0.max_statements">50</property>
	 	<mapping class="br.com.developen.erp.orm.Country"/>
	 	<mapping class="br.com.developen.erp.orm.State"/>
	 	<mapping class="br.com.developen.erp.orm.City"/>
	 	<mapping class="br.com.developen.erp.orm.Address"/>
		<mapping class="br.com.developen.erp.orm.MeasureUnit"/>
		<mapping class="br.com.developen.erp.orm.MeasureUnitMeasureUnit"/>
		<mapping class="br.com.developen.erp.orm.Progeny"/>
		<mapping class="br.com.developen.erp.orm.Service"/>
	 	<mapping class="br.com.developen.erp.orm.Product"/>
	 	<mapping class="br.com.developen.erp.orm.ProductProduct"/>
		<mapping class="br.com.developen.erp.orm.Merchandise"/>	 	
	 	<mapping class="br.com.developen.erp.orm.Catalog"/>
	 	<mapping class="br.com.developen.erp.orm.Subject"/>
	 	<mapping class="br.com.developen.erp.orm.SubjectSubject"/>
	 	<mapping class="br.com.developen.erp.orm.Individual"/>
	 	<mapping class="br.com.developen.erp.orm.Organization"/>	 	
	 	<mapping class="br.com.developen.erp.orm.Company"/>
	 	<mapping class="br.com.developen.erp.orm.User"/>
	 	<mapping class="br.com.developen.erp.orm.Token"/>
		<mapping class="br.com.developen.erp.orm.Device"/>
		<mapping class="br.com.developen.erp.orm.CompanyDevice"/>
		<mapping class="br.com.developen.erp.orm.CompanyDeviceSale"/>
		<mapping class="br.com.developen.erp.orm.CompanyDeviceSaleItem"/>
		<mapping class="br.com.developen.erp.orm.ReceiptMethod"/>
		<mapping class="br.com.developen.erp.orm.PaymentMethod"/>
		<mapping class="br.com.developen.erp.orm.CompanyReceiptMethod"/>
		<mapping class="br.com.developen.erp.orm.CompanyPaymentMethod"/>
    </session-factory>
</hibernate-configuration>